Wind Tunnel/.vs/
Wind Tunnel/Wind Tunnel/bin/
Wind Tunnel/Wind Tunnel/obj/
Wind Tunnel/packages/
Wind Tunnel/Wind Tunnel/packages.config
Wind Tunnel/DeadCode.ruleset
Wind Tunnel/Wind Tunnel/GlobalSuppressions.cs
WindTunnel.*.zip
